PyPDF2
fpdf
youtube_transcript_api
langchain
python-dotenv
langchain-community
pypdf
beautifulsoup4
bs4
arxiv
httpx==0.23.0
pymupdf
langchain-text-splitters
langchain-openai
streamlit_chat
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
pandas
openai
langchain-groq==0.2.1
langchain_core
uvicorn
validators==0.28.1
unstructured
huggingface_hub
groq
