PyPDF2
fpdf
youtube_transcript_api
langchain
python-dotenv
ipykernel
langchain-community
pypdf
beautifulsoup4
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
langchain_core
uvicorn
langserve
validators==0.28.1
youtube_transcript_api
unstructured
huggingface_hub
